{
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
